[submodule ".nvm"]
	path = .nvm
	url = https://github.com/nvm-sh/nvm
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".zsh.d/plugins/zsh-lazyenv"]
	path = .zsh.d/plugins/zsh-lazyenv
	url = https://github.com/black7375/zsh-lazyenv.git
